main {
	display: grid;
	grid-template-columns: 25% 50% 25%;
	justify-items: stretch;
}

#login {
	display: none;
}

#users {
	display: none;
}

#playlists {
	display: none;
}

#webplayer {
	display: none;
}

.user, .playlist {
	cursor: pointer;
	padding: 10px 7px;
	transition: 0.4s all;
}

.user:hover, .playlist:hover {
	background: rgba(200, 225, 215);

}
